.main{
    display: flex;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5%;
    gap: 3px;
}

.field{
    width: 96%;
    height: 35px;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

input{
    width: 70px;
    height: 70px;
    font-size: 22px;
    margin: 2px 2px;
}

.equals{
    width: 144px;
}

