/* Флексы */

.sector{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.block{
    background-color: #ff0000;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
}

.empty{
    width: 50px;
    height: 50px;
} 

/* Конец флексов */

/* Гриды */
.gSector{
    display: grid;
    grid-template-columns: repeat(7,50px);
    gap: 1px;
}


.gBlock{
    width: 50px;
    height: 50px;
    background-color: #ff0000;
}

.gEmpty{
    width: 50px;
    height: 50px;
}
/* Конец гридов */

/* Типа адаптив */
@media screen and (min-width: 768px) {
    .sector{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .gSector{
        justify-content: center;
        align-items: center;
    }
}